<div class="row">
  <div class="col-6 mx-auto my-3" *ngFor="let blog of blogs">
    <div class="card" style="max-height:500px;">
      <div class="card-body">
        <div class="row">
          <img src="{{ blog.image }}" class="card-img-top" alt="{{ blog.title }}" style="padding:10px;width:auto;height:200px;margin-bottom:10px;">
          <div class="row">
            <div class="col-1">
              <span class="badge bg-danger">{{ blog.topic }}</span>
            </div>
            <h4 class="card-title">{{ blog.title }}</h4>
          </div>
          <h6 class="card-subtitle mb-3 text-muted">
            <div clsss="row">
              <div class="col-s col-md-4">{{ blog.authorName }}</div>
              <div class="col-md-4">{{ blog.publishedDate | date:'MMMM d, yyyy hh:mm'}}</div>
            </div>
          </h6>
        </div>
        <p class="card-text">{{ blog.shortDescription }}</p>
        <div class="invisible">{{ blog.blogId }}</div>
        <button type="button" class="btn btn-primary" (click)="readMore(blog.blogId)">Read More</button>
    </div>
  </div>
</div>
</div>
