@model IEnumerable<BlogListing.Models.Topic>
 
@{
    ViewData["Title"] = "Topic List";
}

<div class="row" style="background-color:#ffffff; margin-top:25px;">
  <h2 style="margin-left:20px;">Blog Topics</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Topic Name</th>
        <th>Number Posts</th>
      </tr>
    </thead>
    <tbody>
        @foreach(Topic topic in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(@topic.Name, "Blog", "Home", new { topic = topic.Name }, new { @class = "btn btn-primary"})
            </td>
            <td>@topic.AggregateCount</td>
        </tr>
        }
    </tbody>
  </table>
</div>
