@model BlogListing.Models.Blog

@{
    ViewData["Title"] = "Posts";
}

<div class="container" style="background-color:#ffffff">
    <div class="row p-1">
        <img src="@Model.Image" style="padding:10px;width:auto;height:200px;margin-top:20px;margin-bottom:20px;">
        <h3 style="justify-content:center;"><span style="color:blue;">@Model.Title</span></h3>
        <h4>@Model.Contents</h4>
    </div>
    @Html.ActionLink("Back to Blog List", "Blog", "Home", new { topic = Model.Topic }, new { @class = "btn btn-primary mb-2" })
</div>
