@model BlogListing.Models.Blog

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<div class="container" style="background-color:#ffffff">
    <div class="row p-1">
        <img src="Model.Image" style="padding:10px;width:auto;height:200px;margin-top:20px;margin-bottom:20px;">
        <h3><span style="color:blue">@Model.Title</span></h3>
        <h4>@Model.Contents</h4>
    </div>
    <button type="button" class="btn btn-primary mt-2 mb-2" asp-action="Blog" value="@Model.Topic">Back to Blog List</button>
</div>
